In [14]:
import pandas as pd
dataset = pd.read_csv('fbc_data_2025.csv')

In [16]:
subset = dataset.groupby('county_fips')[['Monthly Housing', 'Monthly Food', 'Monthly Transportation', 'Monthly Healthcare', 'Monthly Other Necessities', 'Monthly Childcare', 'Monthly Taxes', 'Monthly Total',
                                         'Annual Housing', 'Annual Food', 'Annual Transportation', 'Annual Healthcare', 'Annual Other Necessities', 'Annual Childcare', 'Annual Taxes', 'Annual Total',
                                         'median_family_income', 'num_counties_in_st', 'st_cost_rank', 'st_med_aff_rank', 'st_income_rank']].mean()
subset.head()

,Monthly Housing,Monthly Food,Monthly Transportation,Monthly Healthcare,Monthly Other Necessities,Monthly Childcare,Monthly Taxes,Monthly Total,Annual Housing,Annual Food,...,Annual Healthcare,Annual Other Necessities,Annual Childcare,Annual Taxes,Annual Total,median_family_income,num_counties_in_st,st_cost_rank,st_med_aff_rank,st_income_rank
county_fips,,,,,,,,,,,,,,,,,,,,,
1001,1316.5,876.1,1548.0,1295.2,737.9,878.2,1138.4,7789.9,15794.44840,10514.46091,...,15542.13558,8851.80505,10535.61214,13662.01629,93477.5104,83452.0,67.0,8.0,48.0,11.0
1003,1423.5,990.6,1571.5,1220.5,812.2,862.6,1212.0,8093.0,17082.00000,11887.18210,...,14644.38907,9746.87133,10351.86510,14544.30292,97116.7975,92918.0,67.0,2.0,59.0,4.0
1005,909.2,842.1,1431.7,1196.3,589.4,671.2,822.6,6462.6,10910.40000,10105.56494,...,14356.61277,7070.95930,8055.20472,9870.87344,77551.0166,60474.0,67.0,63.0,19.0,55.0
1007,939.6,800.7,1665.8,1235.5,585.4,932.4,984.2,7143.1,11272.71650,9609.04886,...,14823.93821,7025.80685,11188.32950,11808.59579,85717.8629,67222.0,67.0,18.0,20.0,39.0
1009,870.0,788.7,1652.5,1235.5,558.2,963.8,956.5,7025.5,10443.42681,9463.01467,...,14823.93821,6697.65267,11567.09626,11478.51394,84304.6712,76388.0,67.0,24.0,46.0,18.0